<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

<script type="text/x-kendo-template" id="gridEditor">
    <div class=" textboxes">

        <div class="k-edit-label"><label>教师编号</label></div>
        <div class="k-edit-field">
            <input type="text"  k-on-change="dataItem.dirty=true" class="k-input k-textbox ch" ng-model="dataItem.teaNo"/>
        </div>

        <div class="k-edit-label"><label>教师姓名</label></div>
        <div class="k-edit-field">
            <input type="text"  k-on-change="dataItem.dirty=true" class="k-input k-textbox ch" ng-model="dataItem.teaName"/>
        </div>

        <div class="k-edit-label"><label>教师性别</label></div>
        <div class="k-edit-field">
            <select kendo-drop-down-list
                    k-data-source="sexSource"
                    k-data-text-field="'sex'"
                    k-data-value-field="'sex'"
                    ng-model="dataItem.teaSex">
            </select>
        </div>

        <div class="k-edit-label"><label>教师年龄</label></div>
        <div class="k-edit-field">
            <input type="text"  k-on-change="dataItem.dirty=true" class="k-input k-textbox ch" ng-model="dataItem.teaAge"/>
        </div>

        <div class="k-edit-label"><label>联系电话</label></div>
        <div class="k-edit-field">
            <input type="text"  k-on-change="dataItem.dirty=true" class="k-input k-textbox ch" ng-model="dataItem.teaPhone"/>
        </div>

        <div class="k-edit-label"><label>教师职称</label></div>
        <div class="k-edit-field">
            <select kendo-drop-down-list
                    k-data-source="titleSource"
                    k-data-text-field="'title'"
                    k-data-value-field="'title'"
                    ng-model="dataItem.teaTitle">
            </select>
        </div>

        <div class="k-edit-label"><label>学院</label></div>
        <div class="k-edit-field">
            <select kendo-drop-down-list
                    k-data-source="collegeSource"
                    k-data-text-field="'college'"
                    k-data-value-field="'college'"
                    ng-model="dataItem.college">
            </select>
        </div>

    </div>
</script>

<div style="margin-bottom: 20px;">
    <span style="font-size: 30px">教师信息维护</span>
</div>
<div class="textboxes" style="margin:10px;">

    <div class="form-inline group-margin">
        <div class="form-group">
            <label>教师编号:</label>
            <input class="k-input k-textbox" ng-trim="true" ng-model="condition.teaNo">
        </div>

        <div class="form-group">
            <label>教师姓名:</label>
            <input class="k-input k-textbox" ng-trim="true" ng-model="condition.teaName">
        </div>

        <div class="form-group">
            <label>教师职称:</label>
            <select kendo-drop-down-list
                    k-data-source="titleSource"
                    k-data-text-field="'title'"
                    k-data-value-field="'title'"
                    ng-model="condition.teaTitle">
            </select>
        </div>

        <div class="form-group">
            <label>学院:</label>
            <select kendo-drop-down-list
                    k-data-source="collegeSource"
                    k-data-text-field="'college'"
                    k-data-value-field="'college'"
                    ng-model="condition.college">
            </select>
        </div>

        <div class="form-group">
            <kendo-button class="k-primary" ng-click="query()">查询</kendo-button>
        </div>
    </div>
</div>

<div class="table-responsive">
    <div kendo-grid="grid"
         k-column-menu="true"
         k-sortable="true"
         k-resizable="true"
         k-navigatable="true"
         k-pageable="pageable"
         k-filterable="true"
         k-editable="editable"
         k-selectable="'row'"
         k-toolbar="toolbar"
         k-columns="columns"
         k-data-source="dataSource"
         k-on-edit="gridRowEdit(kendoEvent)">

    </div>
</div>
