<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

<script type="text/x-kendo-template" id="gridEditor">
    <div class=" textboxes">
        <div class="k-edit-label"><label>用户名</label></div>
        <div class="k-edit-field">
            <input type="text"  k-on-change="dataItem.dirty=true" class="k-input k-textbox ch" ng-model="dataItem.username"/>
        </div>
        <div class="k-edit-label"><label>权限</label></div>
        <div class="k-edit-field">
            <select kendo-drop-down-list
                    k-data-source="permissionSource"
                    k-data-text-field="'permission'"
                    k-data-value-field="'permission'"
                    ng-model="dataItem.permission">
            </select>
        </div>
    </div>
</script>

<div style="margin-bottom: 20px;">
    <span style="font-size: 30px">用户信息维护</span>
</div>
<div class="textboxes" style="margin:10px;">

    <div class="form-inline group-margin">
        <div class="form-group">
            <label>用户名:</label>
            <input class="k-input k-textbox" ng-trim="true" ng-model="condition.username">
        </div>

        <div class="form-group">
            <kendo-button class="k-primary" ng-click="query()">查询</kendo-button>
        </div>
    </div>
</div>

<div class="table-responsive">
    <div kendo-grid="grid"
         k-column-menu="true"
         k-sortable="true"
         k-resizable="true"
         k-navigatable="true"
         k-pageable="pageable"
         k-filterable="true"
         k-editable="editable"
         k-selectable="'row'"
         k-toolbar="toolbar"
         k-columns="columns"
         k-data-source="dataSource"
         k-on-edit="gridRowEdit(kendoEvent)"
    >

    </div>
</div>
