<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

<script type="text/x-kendo-template" id="gridEditor">
    <div class=" textboxes">

        <div class="k-edit-label"><label>课程编号</label></div>
        <div class="k-edit-field">
            <input type="text"  k-on-change="dataItem.dirty=true" class="k-input k-textbox ch" ng-model="dataItem.courseNo"/>
        </div>

        <div class="k-edit-label" ng-show="isReadOnly"><label>课程名称</label></div>
        <div class="k-edit-field" ng-show="isReadOnly">
            <input type="text"  k-on-change="dataItem.dirty=true" class="k-input k-textbox ch" ng-model="dataItem.courseName"/>
        </div>

        <div class="k-edit-label"><label>班级编号</label></div>
        <div class="k-edit-field">
            <input type="text"  k-on-change="dataItem.dirty=true" class="k-input k-textbox ch" ng-model="dataItem.classNo"/>
        </div>

        <div class="k-edit-label" ng-show="isReadOnly"><label>班级名称</label></div>
        <div class="k-edit-field" ng-show="isReadOnly">
            <input type="text"  k-on-change="dataItem.dirty=true" class="k-input k-textbox" ng-model="dataItem.className"/>
        </div>

    </div>
</script>

<div style="margin-bottom: 20px;">
    <span style="font-size: 30px">课程开设</span>
</div>
<div class="textboxes" style="margin:10px;">

    <div class="form-inline group-margin">
        <div class="form-group">
            <label>课程编号:</label>
            <input class="k-input k-textbox" ng-trim="true" ng-model="condition.courseNo">
        </div>
        <div class="form-group">
            <label>课程名称:</label>
            <input class="k-input k-textbox" ng-trim="true" ng-model="condition.courseName">
        </div>
        <div class="form-group">
            <label>班级编号:</label>
            <input class="k-input k-textbox" ng-trim="true" ng-model="condition.classNo">
        </div>
        <div class="form-group">
            <label>班级名称:</label>
            <input class="k-input k-textbox" ng-trim="true" ng-model="condition.className">
        </div>

        <div class="form-group">
            <kendo-button class="k-primary" ng-click="query()">查询</kendo-button>
        </div>
    </div>
</div>

<div class="table-responsive">
    <div kendo-grid="grid"
         k-column-menu="true"
         k-sortable="true"
         k-resizable="true"
         k-navigatable="true"
         k-pageable="pageable"
         k-filterable="true"
         k-editable="editable"
         k-selectable="'row'"
         k-toolbar="toolbar"
         k-columns="columns"
         k-data-source="dataSource"
         k-on-edit="gridRowEdit(kendoEvent)"
    >

    </div>
</div>
